*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.content{
	max-width: 1250px;
	font-size: 40px;
	font-weight: 700;
	margin: auto;
	padding: 0px 30px;
}
.navbar{
	position: fixed;
	z-index: 5;
	width: 100%;
	padding: 25px 0;
	transition: all 0.3s ease;
}
.navbar.sticky{
	padding: 10px 0;
	background: #96CDC0;
}
.navbar .content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar.logo a{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
}
.navbar .menu-list{
	display: inline-flex;
}
.menu-list li{
	list-style: none;
}
.menu-list li a{
	color: #fff;
	font-size: 27px;
	font-weight: 600;
	margin-left: 25px;
	text-decoration: none;
	transition: all 0.3s ease;
}
.menu-list li a:hover{
	color: #CC006D;
}
.banner{
	height: 100vh;
	background: url("nav2.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.icon{
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: none;
}
.icon.cancel-btn{
	position: absolute;
	right: 30px;
	top: 20px;
}
@media (max-width: 868px) {
	body.disabledScroll{
	overflow: hidden;
}
	.icon{
		display: block;
	}
	.icon.hide{
		display: none;
	}
	.navbar .menu-list{
		position: fixed;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 100%;
		max-width: 400px;
		background: #1867A1;
		display: block;
		padding: 40px 0;
		text-align: center;
		transition: all 0.3s ease;
	}
	.navbar .menu-list.active{
		left: 0%;
	}
	.navbar .menu-list li{
		margin-top: 45px;
	}
	.navbar .menu-list li a{
		font-size: 23px;
	}
}